<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="app" ng-controller="AppController">

  <div id="header">

    <h1 id="title">Consulta VTEX</h1>
    <form id="form-cpf" name="formCpf" ng-submit="validarCPF(cpf) && pesquisarCliente()">
      <div id="input-and-button">
        <input type="text" ng-model="cpf" id="cpf" required ng-pattern="/^\d{11}$/" />
        <button type="submit" id="search">Pesquisar</button>
      </div>
      <span class="erro-cpf" ng-show="formCpf.$error.pattern && formCpf.$submitted">O CPF deve conter exatamente 11 dígitos numéricos.</span>
      <span class="erro-cpf" ng-show="formCpf.$error.validarCPF || (!formCpf.$error.pattern && formCpf.$submitted && !validarCPF(cpf))">CPF inválido.</span>
    </form>

  </div>

  <div ng-if="clientData" id="data">

    <div id="client-data">
      <h2 class="title2">Dados do Cliente</h2>
      <p id="client-data-item"><strong>Nome: </strong>{{clientData.nome}}</p>
      <p id="client-data-item"><strong>E-mail: </strong>{{clientData.email}}</p>
      <p id="client-data-item"><strong>CPF: </strong>{{clientData.cpf}}</p>
      <p id="client-data-item"><strong>Telefone: </strong>{{clientData.celular}}</p>
    </div>

    <div id="client-order-data">
      <h2 class="title2">Pedidos</h2>
      <table id="tabela-pedidos">
        <thead>
          <tr>
            <th>Nᵒ do Pedido</th>
            <th>Data</th>
            <th>Status</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pedido in pedidos">
            <td class="id-pedido" ng-click="clickPedido(pedido)">{{pedido.number}}</td>
            <td>{{pedido.data.slice(0, 10)}}</td>
            <td>{{pedido.status}}</td>
            <td>{{pedido.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div id="modalPedido" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h3>Pedido #{{ orderData.number }}</h3>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <th>ID</th>
              <td>{{ orderData.id_vtex }}</td>
            </tr>
            <tr>
              <th>Data</th>
              <td>{{ orderData.data }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ orderData.status }}</td>
            </tr>
            <tr>
              <th>Transportadora</th>
              <td>{{ orderData.trasnportadora }}</td>
            </tr>
            <tr>
              <th>Origem da compra</th>
              <td>{{ orderData.source }}</td>
            </tr>
            <tr>
              <th>Valor</th>
              <td>{{ orderData.value }}</td>
            </tr>
            <tr>
              <th>Comentário do cliente</th>
              <td>{{ orderData.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="app.js" type="text/javascript"></script>
  <script src="controllers/app.controller.js" type="text/javascript"></script>
  <script src="service/zendesk.service.js"></script>
  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script>
    // Initialise Apps framework client. See also:
    // https://developer.zendesk.com/apps/docs/developer-guide/getting_started
    var client = ZAFClient.init();
    client.invoke('resize', { width: '100%', height: '350px' });
  </script>
</body>

</html>